.env
/venv
/app/__pycache__
/app/core/__pycache__
/data 

*.pyc
__pycache__/

# This directory will be created automatically when docker-compose up is run
/models 

# a text file where i store temporary texts like outputs and code snippets...
clipboard.txt
output
.venv
temp_pdfs